{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}


<div class="row">
    <div class="col-md-8 mx-auto">
        <h4 class=" text-center my-2">Форам входа</h4>
        <form method="POST" action="">
            {% csrf_token %}
          <div class="form-group">
              {{ form.as_p }}
          </div>
          <button type="submit" class="btn btn-primary">Войти</button>
        </form>
        <form method="POST" action="{% url 'accounts:register' %}">
            {% csrf_token %}
          <button type="submit" class="btn btn-dark my-3">Зарегистрироваться</button>
        </form>
    </div>
</div>


{% endblock %}